﻿@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PerformTest</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        #container {
            width: 100%;
            height: 100%;
        }     
    </style>
</head>
<body>
    <div id="model" style="display: none">@Model</div>
    <div id="container"></div>
    <script src="/Scripts/VisJsSetup.js"></script>
</body>
</html>
